<%= link_to 'Список магазинов', shops_path %>

<br> <br>

<%= form_for @shop, :html => { :multipart => true } do |f| %>

    <% if @shop.errors.any? %>
        <div id="error_explanation">
          <h2>
            <!--< %= pluralize(@account.errors.count, "ошибка") %> -->
            Следующие ошибки запрещают сохранить этот счет :</h2>
          <ul>
            <% @shop.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <!--< %= f.date_field :date_amount, :value => Date.today %><br>-->

    <p>
      <%= f.label "Наименование" %>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.label "Адрес" %>
      <%= f.text_field :address %>
    </p>



    <p>
      <%= f.submit "Обновить информацию о магазине" %>

    </p>
<% end %>