<!DOCTYPE html>
<html>
<head>
  <title>Household</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css" />

  <script>
    $.datepicker.regional['ru'] = {
    closeText: 'Закрыть',
    prevText: '&#x3c;Пред',
    nextText: 'След&#x3e;',
    currentText: 'Сегодня',
    monthNames: ['Январь','Февраль','Март','Апрель','Май','Июнь','Июль','Август','Сентябрь','Октябрь','Ноябрь','Декабрь'],
    monthNamesShort: ['Янв','Фев','Мар','Апр','Май','Июн','Июл','Авг','Сен','Окт','Ноя','Дек'],
    dayNames: ['воскресенье','понедельник','вторник','среда','четверг','пятница','суббота'],
    dayNamesShort: ['вск','пнд','втр','срд','чтв','птн','сбт'],
    dayNamesMin: ['Вс','Пн','Вт','Ср','Чт','Пт','Сб'],
    dateFormat: 'dd.mm.yy',
    firstDay: 1,
    isRTL: false
    };
    $.datepicker.setDefaults($.datepicker.regional['ru']);
  </script>

</head>
<body>

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <%= render 'layouts/main_menu' %>
      </div>
      <% flash.each do |name, msg| %>
        <% if (name.to_s == 'alert') %>
          <div class="row-fluid">
            <div class="span12">
              <div class="alert alert-error">
                <h4>ОШИБКА !</h4>
                <br>
                <%= content_tag :div, msg, :id => "flash#{name}" %>
              </div>
            </div>
          </div>
        <% elsif (name.to_s == 'notice') %>
          <div class="row-fluid">
            <div class="span12">
              <div class="alert alert-info">
                <%= content_tag :div, msg, :id => "flash#{name}" %>
              </div>
            </div>
          </div>
        <% else %>
          <div class="row-fluid">
            <div class="span12">
              <div class="alert alert-success">
                <h4>Сообщение</h4>
                <br>
                <%= content_tag :div, msg, :id => "flash#{name}" %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
      <div class="row-fluid">
        <% if action_name == "new" or action_name == "edit" %>
          <div class="span4 alert alert-success">
        <% else %>
          <div class="span4">
        <% end %>
          <%= yield %>
        </div>
        <div class="span4">
          <% if current_user %>

            Рабочий период
            <%= select_year($global_date.year, options = {}, html_options = { style: "width:70px", :onchange => "change(inp_0.value, inp_1.value)" } ) %>
            <%= select_month($global_date.month, options = {use_month_numbers: true}, html_options = { style: "width:60px", :onchange => "change(inp_0.value, inp_1.value)" }) %>

            <%= render 'layouts/dashboard_my_count' %>
          <% end %>
        </div>
        <div class="span4">

        </div>
      </div>
    </div>
  </div>

</body>
</html>

<script>
  var inp_0 = document.getElementById("date_year");
  var inp_1 = document.getElementById("date_month");

  function change(yy,mm){
    $.ajax({ url: "<%= url_for(:action => 'change_date', :controller => 'application') %>?year="+yy+"&month="+mm });
    window.location.reload();
  }


</script>
