<%= link_to 'Список счетов', accounts_path %></h4>

<%= form_for @account, :html => { :multipart => true } do |f| %>

  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2>
        <!--< %= pluralize(@account.errors.count, "ошибка") %> -->
        Следующие ошибки запрещают сохранить этот счет :</h2>
      <ul>
        <% @account.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label "Наименование" %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label "Сумма" %>
    <%= f.text_field :amount, :onKeyPress => "
    if (((event.keyCode < 48) || (event.keyCode > 57)) && (event.keyCode != 46 ) )
    {
      <!--alert(document.getElementById ('account_amount').value); --!>
      event.returnValue = false;
    }
    else
    {
      {
        test = document.getElementById ('account_amount').value + String.fromCharCode(event.keyCode)
        q = /^(\\w*)?(\\.)?(\\w*)?$/.test(test);
        if (q)
          true;
        else
          event.returnValue = false;
      }
    }"%>
  </p>

  <p>
    <%= f.label "Статья расходов" %>
    <% if action_name = "edit" %>
      <%= f.select( :type_account_id, TypeAccount.my_all(current_user).map {|c| [c.name, c.id]}) %>
    <% else %>
      <%= f.select( :type_account_id, TypeAccount.my_all(current_user).map {|c| [c.name, c.id]}, :selected => @default_type_account) %>
    <% end %>
  </p>

  <p>
    <%= f.label "Наименование магазина" %>
    <%= f.select( :shop_id, Shop.my_all_for_account(current_user).map {|c| [c.name, c.id]}) %>
    <!--< %= f.text_field :shop_name, :class => "rest", :value => @shop_name %>-->
  </p>

  <p>
    <%= f.label "Дата покупки" %>
    <%= f.date_select :date_amount %>
  </p>

  <br>

  <p>
    <%= f.submit "Сохранить счет" %>
  </p>

<% end %>

<script>
//    var input = document.getElementsByClassName("rest")[0];
//    input.oninput = function()
//    {
//        change_tr(input_0.value,search_string_0)
//    }

    $(function() {
        var productName = [
            <% @product_list.each do |product| %>
            "<%= product[0] %>",
            <% end %>
        ];
        $( "#account_title" ).autocomplete({
            source: productName
        });
//        var shopName = [
            <!--< % @shop_list.each do |shop| %>-->
//            "< %= shop.name %>",
            <!--< % end %>-->
//        ];
//        $( "#account_shop_name" ).autocomplete({
//            source: shopName
//        });
    });
</script>