<%= link_to 'Назад', accounts_path, :class => "btn btn-success" %></h4>

<br>
<%= form_for @account, :html => { :multipart => true } do |f| %>

  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2>
        <!--< %= pluralize(@account.errors.count, "ошибка") %> -->
        Следующие ошибки запрещают сохранить этот счет :</h2>
      <ul>
        <% @account.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label "Наименование" %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label "Сумма" %>
    <%= f.text_field :amount %>
  </p>

  <p>
    <%= f.label "Статья расходов" %>
    <% if action_name == "edit" %>
      <%= f.select( :type_account_id, TypeAccount.my_all(current_user).map {|c| [c.name, c.id]}) %>
    <% else %>
      <%= f.select( :type_account_id, TypeAccount.my_all(current_user).map {|c| [c.name, c.id]}, :selected => @default_type_account) %>
    <% end %>
  </p>

  <p>
    <%= f.label "Дата покупки" %>
    <% if action_name == "edit" %>
      <%= f.text_field :date_amount %>
    <% else %>
      <%= f.text_field :date_amount, :value => Date.today %>
    <% end %>
  </p>

  <p>
    <%= f.submit "Сохранить счет", :class => "btn btn-primary" %>
  </p>

<% end %>

<script>
  document.getElementById('account_amount').onkeypress=checkSymbol;

//    var input = document.getElementsByClassName("rest")[0];
//    input.oninput = function()
//    {
//        change_tr(input_0.value,search_string_0)
//    }

  $(function() {
    $( "#account_date_amount" ).datepicker({
      dateFormat: "yy-mm-dd",
      showAnim: "clip",
//      showOn: "button",
      changeMonth: true,
      changeYear: true
//      buttonImage: "images/calendar.gif",
//      buttonImageOnly: true
    });
  });

  $(function() {
    var productName = [
      <% @product_list.each do |product| %>
      "<%= product[0] %>",
      <% end %>
    ];
    $( "#account_title" ).autocomplete({
        source: productName
    });
//      var shopName = [
      <!--< % @shop_list.each do |shop| %>-->
//            "< %= shop.name %>",
      <!--< % end %>-->
//        ];
//        $( "#account_shop_name" ).autocomplete({
//            source: shopName
//        });
  });
</script>