<%= link_to 'Новый счет', new_account_path, :id => "btn" %>
<br><br>

<table class="table table-condensed table-hover table-striped alkp_table_active">
  <thead>
  <tr>
    <th>
      Наименование
    </th>
    <th>
      Стоимость
    </th>
    <th>
      Дата
    </th>
  </tr>
  </thead>

  <tbody>
    <tr>
      <td>
        <input type="text" search_string="title" id="alkp_search_field_0">  <!--<br> <span id="result"></span>-->
      </td>
      <td>
        Итого: <span id="result"></span>
      </td>
      <td>
      </td>
    </tr>
    <% @accounts.each do |f| %>
      <tr>
        <td>
          <%= link_to f.title, edit_account_path(f) %>
        </td>
        <td>
          <%= f.amount %>
        </td>
        <td>
          <%= f.created_at.to_date %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>

    function change_tr(my_qq_ww, par_search) {
        var last_row_index=mytable.rows.length-1;
        var index_row = mytable.rows.length
        for(i=0;i<index_row-2;i++) {
            mytable.deleteRow(last_row_index);
            last_row_index = last_row_index - 1;
        }
        var summa = 0
        <% @accounts.each do |f| %>
            var search_str = new RegExp(my_qq_ww, "gi");
            switch (par_search)
            {
                case("title"):
                    result_search_ = ("<%= f.title %>").match(search_str);
                    break;
                case("amount"):
                    result_search_ = ("<%= f.amount %>").match(search_str);
                    break;
            }
            if (result_search_)
            {
                var newrow = mytable.insertRow(2);
                newrow.insertCell(0).innerHTML = "<a href=\"/accounts/<%= f.id %>/edit\"><%= f.title %></a>";
                newrow.insertCell(1).innerHTML = "<%= f.amount %>";
                newrow.insertCell(2).innerHTML = "<%= f .created_at.to_date %>";
                var qw = <%= f.amount %>;
                summa += qw;
            }
        <% end %>
        document.getElementById('result').innerHTML = summa;
    }

    mytable = document.getElementsByClassName("alkp_table_active")[0];



    var input_0 = document.getElementById("alkp_search_field_0");
    input_0.oninput = function()
    {
        change_tr(input_0.value,search_string_0);
    }
    var search_string_0 = document.getElementById("alkp_search_field_0").attributes.search_string.value
    change_tr(input_0.value,search_string_0);

    var input_1 = document.getElementById("alkp_search_field_1");
    input_1.oninput = function()
    {
        change_tr(input_1.value,search_string_1)
    }
    var search_string_1 = document.getElementById("alkp_search_field_1").attributes.search_string.value
    change_tr(input_1.value,search_string_1);

    var input_2 = document.getElementById("alkp_search_field_2");
    input_2.oninput = function()
    {
        change_tr(input_2.value,search_string_2)
    }
    var search_string_2 = document.getElementById("alkp_search_field_2").attributes.search_string.value
    change_tr(input_2.value,search_string_2);

</script>

