<script>nrow=2;</script>
<table class="table table-condensed table-hover table-striped" id="my_table"name="my_table">
  <thead>
  <tr>
    <th>
      Наименование
    </th>
    <th>
      Стоимость
    </th>
    <th>
      Дата
    </th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <input type="text" onchange="change_tr_my()" id="search_name">  <!--<br> <span id="result"></span>-->
    </td>
    <td>
      Итого: <span id="result"></span>
    </td>
    <td>
    </td>
  </tr>
  <% @accounts.each do |f| %>
  <tr>
    <td>
      <%= f.title %>
    </td>
    <td>
      <%= f.amount %>
    </td>
    <td>
      <%= f.created_at.to_date %>
    </td>
  </tr>
      <script>nrow++;</script>
  <% end %>




  </tbody>
</table>


<%= link_to 'Новый счет', new_account_path, :id => "btn" %>



<script>
  function change_tr(my_qq_ww, par_search) {
    var lastrowindex=mytable.rows.length-1;
    for(i=0;i<nrow-2;i++) {
      mytable.deleteRow(lastrowindex);
      lastrowindex=lastrowindex-1;
    }
    nrow = 2;
    var summa = 0
    <% @accounts.each do |f| %>
      switch (par_search)
      {
        case("title"):
          var text = "<%= f.title %>";
          break;
        case("amount"):
          var text = "<%= f.title %>";
          break;
      }
    var search_str = new RegExp(my_qq_ww, "g");
    result_search_ = text.match(search_str);
    if (result_search_)
    {
        var newrow = mytable.insertRow(2);
        newrow.insertCell(0).innerHTML = "<%= f.title %>";
        newrow.insertCell(1).innerHTML = "<%= f.amount %>";
        newrow.insertCell(2).innerHTML = "<%= f .created_at.to_date %>";
        nrow++;
//        var qw = <%= f.amount %>;
//        alert(qw);
//        summa += qw;
    }
    <% end %>
    document.getElementById('result').innerHTML = summa;
  }

  var input = document.getElementById("search_name");
  input.oninput = function()
  {
    var rte = [];
    <% @filter = filter_acc(@accounts, "test") %>
    change_tr(input.value,"title")
  }

  mytable = document.getElementById("my_table");
  change_tr(input.value,"title");
</script>

