
<%= form_for :account, url: accounts_path do |f| %>

    <% if @account.errors.any? %>
        <div id="error_explanation">
          <h2>
            <!--< %= pluralize(@account.errors.count, "ошибка") %> -->
            Следующие ошибки запрещают сохранить этот счет :</h2>
          <ul>
            <% @account.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <!--< %= f.date_field :date_amount, :value => Date.today %><br>-->

    <p>
      <%= f.label "Наименование" %><br>
      <%= f.text_field :title %>
    </p>

    <p>

      <!--< %= f.month_field "Бля" %><br>-->
      <!--< %= f.week_field "Бля" %><br>-->

      <%= f.label "Стоимость" %><br>
      <%= f.text_field :amount, :size => 8, :onKeyPress => "
        if (((event.keyCode < 48) || (event.keyCode > 57)) && (event.keyCode != 46 ) )
        {
          <!--alert(document.getElementById ('account_amount').value); --!>
          event.returnValue = false;
        }
        else
        {
          {
            test = document.getElementById ('account_amount').value + String.fromCharCode(event.keyCode)
            q = /^(\\w*)?(\\.)?(\\w*)?$/.test(test);
            if (q)
              true;
            else
              event.returnValue = false;
          }
        }", :onKeyUp => "
        <!--alert(document.getElementById ('account_amount').value); --!>
        "%>
      <!--< %= f.color_field :amount %>-->
    </p>

    <p>
      <%= f.submit "Ввести" %>
    </p>
<% end %>

<%= link_to 'Список', accounts_path %>

<script>
  function checkform(f) {
    var errMSG = "";
    // цикл ниже перебирает все элементы в объекте f,
    // переданном в качестве параметра
    // функции, в данном случае - наша форма.
    for (var i = 0; i<f.elements.length; i++)
        // если текущий элемент имеет атрибут required
        // т.е. обязательный для заполнения
        if (null!=f.elements[i].getAttribute("required"))
        // проверяем, заполнен ли он в форме
            if (isEmpty(f.elements[i].value)) // пустой
                errMSG += "  " + f.elements[i].name + "\n"; // формируем сообщение
    // об ошибке, перечисляя
    // незаполненные поля
    // если сообщение об ошибке не пусто,
    // выводим его, и возвращаем false
    if ("" != errMSG) {
        alert("Не заполнены обязательные поля:\n" + errMSG);
        return false;
    }
  }


</script>